@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "SairaCondensed-Regular";
    src: url("../fonts/SairaCondensed/SairaCondensed-Regular.ttf");
}
@font-face {
    font-family: "SairaCondensed-Black";
    src: url("../fonts/SairaCondensed/SairaCondensed-Black.ttf");
}
@font-face {
    font-family: "SairaCondensed-Bold";
    src: url("../fonts/SairaCondensed/SairaCondensed-Bold.ttf");
}
@font-face {
    font-family: "SairaCondensed-ExtraBold";
    src: url("../fonts/SairaCondensed/SairaCondensed-ExtraBold.ttf");
}
@font-face {
    font-family: "SairaCondensed-ExtraLight";
    src: url("../fonts/SairaCondensed/SairaCondensed-ExtraLight.ttf");
}
@font-face {
    font-family: "SairaCondensed-Light";
    src: url("../fonts/SairaCondensed/SairaCondensed-Light.ttf");
}
@font-face {
    font-family: "SairaCondensed-Medium";
    src: url("../fonts/SairaCondensed/SairaCondensed-Medium.ttf");
}
@font-face {
    font-family: "SairaCondensed-SemiBold";
    src: url("../fonts/SairaCondensed/SairaCondensed-SemiBold.ttf");
}
@font-face {
    font-family: "SairaCondensed-Thin";
    src: url("../fonts/SairaCondensed/SairaCondensed-Thin.ttf");
}

html,
body {
    padding: 0;
    margin: 0;
    font-size: 36px;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: black;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 9999s ease-in-out 0s;
}

.flexCenter {
    @apply flex justify-center items-center;
}

.bg-centered {
    @apply bg-cover bg-center bg-no-repeat bg-origin-border;
}

.authSubmitButton {
    @apply bg-primary text-primary-light text-2xl p-4 rounded-lg font-bold font-medium mb-4 min-w-formSubmitButton;
}
