@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "SairaCondensed-Regular";
    src: url("../fonts/SairaCondensed/SairaCondensed-Regular.ttf");
}
@font-face {
    font-family: "SairaCondensed-Black";
    src: url("../fonts/SairaCondensed/SairaCondensed-Black.ttf");
}
@font-face {
    font-family: "SairaCondensed-Bold";
    src: url("../fonts/SairaCondensed/SairaCondensed-Bold.ttf");
}
@font-face {
    font-family: "SairaCondensed-ExtraBold";
    src: url("../fonts/SairaCondensed/SairaCondensed-ExtraBold.ttf");
}
@font-face {
    font-family: "SairaCondensed-ExtraLight";
    src: url("../fonts/SairaCondensed/SairaCondensed-ExtraLight.ttf");
}
@font-face {
    font-family: "SairaCondensed-Light";
    src: url("../fonts/SairaCondensed/SairaCondensed-Light.ttf");
}
@font-face {
    font-family: "SairaCondensed-Medium";
    src: url("../fonts/SairaCondensed/SairaCondensed-Medium.ttf");
}
@font-face {
    font-family: "SairaCondensed-SemiBold";
    src: url("../fonts/SairaCondensed/SairaCondensed-SemiBold.ttf");
}
@font-face {
    font-family: "SairaCondensed-Thin";
    src: url("../fonts/SairaCondensed/SairaCondensed-Thin.ttf");
}

html,
body {
    padding: 0;
    margin: 0;
    font-size: 36px;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: black;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 9999s ease-in-out 0s;
}

.flexCenter {
    @apply flex justify-center items-center;
}

.bg-centered {
    @apply bg-cover bg-center bg-no-repeat bg-origin-border;
}

.authSubmitButton {
    @apply bg-primary text-primary-light text-2xl p-4 rounded-lg font-bold font-medium mb-4 min-w-formSubmitButton;
}

.modal {
    @apply w-11/12 border-2 rounded-lg p-4 shadow-2xl flex flex-col items-center absolute bg-primary-light -translate-y-1/2 translate-x-1/2 top-1/2 right-1/2;
}

.filterSortIconActive {
    @apply bg-primary text-primary-light;
}

.filterSortIconInactive {
    @apply bg-primary-light text-primary;
}

.filterSortButton {
    @apply m-2 p-2 rounded-md border-2 shadow-xl border-primary-light-border;
}

.filterSortButtonActive {
    @apply text-primary-light bg-primary border-primary-light;
}

.filterSortButtonInactive {
    @apply text-primary bg-primary-light border-primary-light-border;
}

.filterSortDialogButton {
    @apply m-2 p-2 rounded-md border-2 text-primary-light bg-primary border-primary min-w-dialogSubmitButton;
}

.snapScrollPane {
    @apply w-full snap-start h-screen overflow-y-scroll shrink-0 relative;
}

.deviceList {
    @apply grid gap-4 grid-cols-1 relative m-4;
}

.buttonSmall {
    @apply bg-primary text-primary-light p-2 px-4 rounded-lg;
}

.clickEffectPrimary {
    @apply active:bg-primary active:text-primary-light;
}

.clickEffectPrimaryLight {
    @apply active:bg-primary-light active:text-primary;
}

.disable {
    @apply opacity-50 pointer-events-none;
}
